@model FCSE_IT_Project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Вашиот профил</h2>

<div>
    <h4>Променете ги поставките на вашиот профил</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Лозинка:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Променете ја Вашата лозинка", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Креирај", "SetPassword")
            }
            ]
        </dd>
        <dt>Логирања:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Менаџирај логирања", "ManageLogins") ]
        </dd>
        <br />
        <div>
            @Html.ActionLink("Назад кон листата на продукти", "Index")
        </div>
        <div>
            @if (User.IsInRole("Manager"))
            {
                @Html.ActionLink("Промени улоги", "AddUserToRole", "Account")
            }
        </div>
        
    </dl>
</div>
