@model FCSE_IT_Project.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

<style>
    .btn-delete {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 4px;
    }

        .btn-delete:hover {
            color: #fff;
            background-color: #ac2925;
            border-color: #761c19;
            text-decoration: none;
        }

    .btn-details {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 4px;
    }

        .btn-details:hover {
            color: #fff;
            background-color: #31b0d5;
            border-color: #269abc;
            text-decoration: none;
        }

    .btn-edit {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 4px;
    }

        .btn-edit:hover {
            color: #fff;
            background-color: #ec971f;
            border-color: #d58512;
            text-decoration: none;
        }

    .btn-ordinary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: 4px;
    }

        .btn-ordinary:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
            text-decoration: none;
        }
</style>

<h2>
    Здраво @User.Identity.GetUserName()
</h2>

<div>
    <h4>Променете ги поставките на вашиот профил</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Лозинка:</dt>
        <dd>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Променете ја Вашата лозинка", "ChangePassword", "Manage", new { @class = "btn-ordinary" })
            }
            else
            {
                @Html.ActionLink("Креирај", "SetPassword", "Manage", new { @class = "btn-ordinary" })
            }

        </dd>
        <br />
        <dt>Логирања:</dt>
        <dd>
            @Model.Logins.Count
            <br />
            @Html.ActionLink("Менаџирај логирања", "ManageLogins", "Manage", new { @class = "btn-ordinary" })
        </dd>
        <br />
        <div>
            <a href="@Url.Action("Index", "Products")" class="btn-ordinary">
                <span>Назад кон листата на продукти</span>
            </a>
            <a href="@Url.Action("Index", "Orders")" class="btn-ordinary">
                <span>Назад кон листата на нарачки</span>
            </a>
            <a href="@Url.Action("Index", "Home")" class="btn-ordinary">
                <span>Почетна</span>
            </a>
        </div>
        <br />
        <div>
            @if (User.IsInRole("Manager"))
            {
                <a href="@Url.Action("AddUserToRole", "Account")" class="btn-ordinary">
                    <span>Промени улоги</span>
                </a>
            }
        </div>

    </dl>
</div>
