@model FCSE_IT_Project.Models.Product

@{
    ViewBag.Title = "Delete";
}

<style>
    .btn-ordinary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }

        .btn-ordinary:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
            text-decoration: none;
        }
    .btn-delete {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }

        .btn-delete:hover {
            color: #fff;
            background-color: #ac2925;
            border-color: #761c19;
            text-decoration: none;
        }
</style>

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да го избришете продуктот?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoURL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Избриши" class="btn-delete" />
    @Html.ActionLink("Назад кон листата на продукти", "Index", "Products", new { @class = "btn-ordinary" })
    @if (User.IsInRole("Manager"))
    {
        <a href="@Url.Action("AddUserToRole", "Account")" class="btn-ordinary">
        <span>Промени улоги</span>
        </a>
    }
</div>
    }

</div>
