@model FCSE_IT_Project.Models.Product

@{
    ViewBag.Title = "Details";
}

<style>
    .btn-ordinary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }

        .btn-ordinary:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
            text-decoration: none;
        }
    .btn-edit {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid transparent;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 10px;
    }

        .btn-edit:hover {
            color: #fff;
            background-color: #ec971f;
            border-color: #d58512;
            text-decoration: none;
        }
</style>

<h2>Детали</h2>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Промени", "Edit", new { id = Model.Id }, new { @class = "btn-edit" }) 
    @Html.ActionLink("Назад кон листата на продукти", "Index", "Products", new { @class = "btn-ordinary" })
    @if (User.IsInRole("Manager"))
    {
        <a href="@Url.Action("AddUserToRole", "Account")" class="btn-ordinary">
        <span>Промени улоги</span>
        </a>    
    }
</p>
