@model FCSE_IT_Project.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да ја избришете оваа нарачка?</h3>
<div>
    <h4>Нарачка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад кон листата на нарачки", "Index")
        </div>
        <div>
            @if (User.IsInRole("Manager"))
            {
                @Html.ActionLink("Промени улоги", "AddUserToRole", "Account")
            }
        </div>
    }
</div>
